In [1]:
import pandas as pd

students = ['Alice', 'Jack', 'Molly']
pd.Series(students)

0    Alice
1     Jack
2    Molly
dtype: object

In [2]:
numbers = [1,2,3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [3]:
students = ['Alice', 'Jack', None]
pd.Series(students)

0    Alice
1     Jack
2     None
dtype: object

In [4]:
numbers = [1,2,None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [5]:
import numpy as np

np.nan == None

False

In [6]:
np.nan == np.nan

False

In [7]:
np.isnan(np.nan)

True

In [8]:
students_scores = {'Alice': 'Phyisics', 'Jack': 'Chemistry', 'Molly': 'English'}
s = pd.Series(students_scores)
s

Alice     Phyisics
Jack     Chemistry
Molly      English
dtype: object

In [9]:
s.index

Index(['Alice', 'Jack', 'Molly'], dtype='object')

In [10]:
students = [('Alice', 'Brown'), ('Jack', 'White'), ('Molly', 'Green')]
pd.Series(students)

0    (Alice, Brown)
1     (Jack, White)
2    (Molly, Green)
dtype: object

In [11]:
s = pd.Series(['Physics', 'Chemistry', 'English'], index=['Alice', 'Jack', 'Molly'])
s

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [12]:
students_scores = {'Alice': 'Phyisics', 'Jack': 'Chemistry', 'Molly': 'English'}
s = pd.Series(students_scores, index=['Alice', 'Molly', 'Sam'])
s

Alice    Phyisics
Molly     English
Sam           NaN
dtype: object

# Querying a Series

In [13]:
students_classes = {'Alice': 'Phyisics', 'Jack': 'Chemistry', 'Molly': 'English', 'Sam': 'History'}
s = pd.Series(students_classes)
s

Alice     Phyisics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [14]:
s.iloc[3]

'History'

In [15]:
s.loc['Molly']

'English'

In [16]:
s[3]

'History'

In [17]:
s['Molly']

'English'

In [18]:
class_code = {99: 'Physics', 100: 'Chemistry', 101: 'English', 102: 'History'}
s = pd.Series(class_code)
s

99       Physics
100    Chemistry
101      English
102      History
dtype: object

In [19]:
s.index

Int64Index([99, 100, 101, 102], dtype='int64')

In [20]:
# if index is a list of integeres kindly remember to use loc and iloc respectively otherwise you will be getting an keyError
s.iloc[0]
# s[0] this generate an error

'Physics'

In [21]:
grades = pd.Series([90, 80, 70, 60])

total = 0
for grade in grades:
    total+=grade
print(total/len(grades))

75.0

In [22]:
total = np.sum(grades)
print(total/len(grades))

75.0

In [23]:
numbers = pd.Series(np.random.randint(0, 1000, 10000 ))
numbers.head()

0    800
1    135
2    653
3    994
4    962
dtype: int32

In [24]:
len(numbers)

10000

In [25]:
%%timeit -n 100
total = 0
for number in numbers:
    total+=number
total/len(numbers)

1.05 ms ± 68 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [26]:
%%timeit -n 100
total = np.sum(numbers)
total/len(numbers)

65 µs ± 18.7 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [27]:
numbers.head()

0    800
1    135
2    653
3    994
4    962
dtype: int32

In [28]:
numbers+=2
numbers.head()

0    802
1    137
2    655
3    996
4    964
dtype: int32

In [29]:
# Unpacking the pandas array
for label, value in numbers.iteritems():
    numbers.loc[label] = value+2
numbers.head()

0    804
1    139
2    657
3    998
4    966
dtype: int32

In [30]:
%%timeit -n 10

s = pd.Series(np.random.randint(0, 1000, 1000))
for label, value in s.iteritems():
    s.loc[label] = value+2

90.3 ms ± 4.56 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [31]:
%%timeit -n 10

s = pd.Series(np.random.randint(0, 1000, 1000))
s+=2

561 µs ± 224 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [32]:
s = pd.Series([1,2,3])
s.loc['history'] = 102
s

0            1
1            2
2            3
history    102
dtype: int64

In [33]:
students_classes = {'Alice': 'Phyisics', 'Jack': 'Chemistry', 'Molly': 'English', 'Sam': 'History'}
students_classes = pd.Series(students_classes)
students_classes

Alice     Phyisics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [34]:
kelly_classes = pd.Series(['Philosophy', 'Arts', 'Math'], index=['Kelly', 'Kelly', 'Kelly'])
kelly_classes

Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object

In [35]:
all_students_classes = students_classes.append(kelly_classes)
all_students_classes

Alice      Phyisics
Jack      Chemistry
Molly       English
Sam         History
Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object

In [36]:
all_students_classes.loc['Kelly']

Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object