# Preparing the dataset of rwanda to be used in my package

In [3]:
import pandas as pd

df = pd.read_csv('Village.csv', sep=';')
df.head(10)

,DISTRICT,VILLAGE_ID,CELL_ID,SECTOR_ID,DISTR_ID,PROV_ID,NAME,CELL,SECTOR,PROVINCE,CPU
0,Nyarugenge,11010102,110101,1101,11,1,Gihanga,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
1,Nyarugenge,11010103,110101,1101,11,1,Iterambere,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
2,Nyarugenge,11010104,110101,1101,11,1,Izuba,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
3,Nyarugenge,11010105,110101,1101,11,1,Nyaburanga,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
4,Nyarugenge,11010106,110101,1101,11,1,Nyenyeri,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
5,Nyarugenge,11010107,110101,1101,11,1,Ubukorikori,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
6,Nyarugenge,11010108,110101,1101,11,1,Ubumwe,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
7,Nyarugenge,11010109,110101,1101,11,1,Ubwiyunge,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
8,Nyarugenge,11010110,110101,1101,11,1,Umucyo,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
9,Nyarugenge,11010111,110101,1101,11,1,Umurabyo,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN

In [6]:
df.shape

(14815, 11)

In [10]:
df.columns

Index(['DISTRICT', 'VILLAGE_ID', 'CELL_ID', 'SECTOR_ID', 'DISTR_ID', 'PROV_ID',
       'NAME', 'CELL', 'SECTOR', 'PROVINCE', 'CPU'],
      dtype='object')

In [16]:
df.rename(columns={'DISTRICT': 'District', 'NAME': 'Village', 'CELL': 'Cell',  'SECTOR': 'Sector', 'PROV_ID': 'Prov_id',  'PROVINCE': 'Province'}, inplace=True)
df.head()

,District,VILLAGE_ID,CELL_ID,SECTOR_ID,DISTR_ID,Prov_id,Village,Cell,Sector,Province,CPU
0,Nyarugenge,11010102,110101,1101,11,1,Gihanga,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
1,Nyarugenge,11010103,110101,1101,11,1,Iterambere,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
2,Nyarugenge,11010104,110101,1101,11,1,Izuba,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
3,Nyarugenge,11010105,110101,1101,11,1,Nyaburanga,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
4,Nyarugenge,11010106,110101,1101,11,1,Nyenyeri,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN

In [23]:
df = df[['Prov_id', 'Province', 'District', 'Sector', 'Cell', 'Village']]
df.head()

,Prov_id,Province,District,Sector,Cell,Village
0,1,Kigali Town/Umujyi wa Kigali,Nyarugenge,Gitega,Akabahizi,Gihanga
1,1,Kigali Town/Umujyi wa Kigali,Nyarugenge,Gitega,Akabahizi,Iterambere
2,1,Kigali Town/Umujyi wa Kigali,Nyarugenge,Gitega,Akabahizi,Izuba
3,1,Kigali Town/Umujyi wa Kigali,Nyarugenge,Gitega,Akabahizi,Nyaburanga
4,1,Kigali Town/Umujyi wa Kigali,Nyarugenge,Gitega,Akabahizi,Nyenyeri

In [24]:
df['Province'].value_counts()

East/Iburasirazuba              3791
West/Iburengerazuba             3617
South/Amajyepfo                 3501
North/Amajyaruguru              2744
Kigali Town/Umujyi wa Kigali    1162
Name: Province, dtype: int64

In [26]:
len(df.District.unique())

30

In [33]:
# Function to rename provinces

def rename_province(row):
    row['Province'] = row['Province'].split('/')[0]
    if row['Province'] == 'Kigali Town':
        row['Province'] = 'Kigali'

    return row

df = df.apply(rename_province, axis="columns")
df.head()

   Prov_id Province    District  Sector       Cell     Village
0        1   Kigali  Nyarugenge  Gitega  Akabahizi     Gihanga
1        1   Kigali  Nyarugenge  Gitega  Akabahizi  Iterambere
2        1   Kigali  Nyarugenge  Gitega  Akabahizi       Izuba
3        1   Kigali  Nyarugenge  Gitega  Akabahizi  Nyaburanga
4        1   Kigali  Nyarugenge  Gitega  Akabahizi    Nyenyeri

In [56]:
# save the DATAFRAME

df.to_csv('rwanda_dataset.csv', index = False, header = True)

# Start working on package logic

In [57]:
import pandas as pd

df = pd.read_csv('rwanda_dataset.csv')
df.head()

   Unnamed: 0  Prov_id Province    District  Sector       Cell     Village
0           0        1   Kigali  Nyarugenge  Gitega  Akabahizi     Gihanga
1           1        1   Kigali  Nyarugenge  Gitega  Akabahizi  Iterambere
2           2        1   Kigali  Nyarugenge  Gitega  Akabahizi       Izuba
3           3        1   Kigali  Nyarugenge  Gitega  Akabahizi  Nyaburanga
4           4        1   Kigali  Nyarugenge  Gitega  Akabahizi    Nyenyeri

In [58]:
df.columns

Index(['Unnamed: 0', 'Prov_id', 'Province', 'District', 'Sector', 'Cell',
       'Village'],
      dtype='object')

In [78]:
# Format the input
def format_input(name: str) -> str:
    return name.strip().capitalize()

In [62]:
# Function to get all provinces

def get_provinces() -> list:
    provinces = df['Province'].unique()
    return [i for i in provinces]

get_provinces()

['Kigali', 'South', 'West', 'North', 'East']

In [96]:
import timeit
# provinces_and_district = df[['Province', 'District']]
# provinces_and_district.groupby(['Province']).get_group('Kigali')['District'].unique()

df[df['Province'] == 'Kigali']['District'].unique()

array(['Nyarugenge', 'Gasabo', 'Kicukiro'], dtype=object)

In [138]:
# Function to get all district of the province

def get_districts(province = ''):
    try:
        if province:
            #provinces_and_districts_df = df[['Province', 'District']]
            #province_group = provinces_and_districts_df.groupby(['Province'])
            #districts = province_group.get_group(format_input(province))['District'].unique()
            #return [district for district in districts]
            return [district for district in df[df['Province'] == format_input(province)]['District'].unique()]
        if not province:
            return [district for district in df['District'].unique()]
    except:
        return None
    
print(get_districts('KigalI'))
timeit.timeit(get_districts, number=100)

['Nyarugenge', 'Gasabo', 'Kicukiro']

0.06895059999988007