# Preparing the dataset of rwanda to be used in my package

In [1]:
import pandas as pd

df = pd.read_csv('Village.csv', sep=';')
df.head(10)

,DISTRICT,VILLAGE_ID,CELL_ID,SECTOR_ID,DISTR_ID,PROV_ID,NAME,CELL,SECTOR,PROVINCE,CPU
0,Nyarugenge,11010102,110101,1101,11,1,Gihanga,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
1,Nyarugenge,11010103,110101,1101,11,1,Iterambere,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
2,Nyarugenge,11010104,110101,1101,11,1,Izuba,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
3,Nyarugenge,11010105,110101,1101,11,1,Nyaburanga,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
4,Nyarugenge,11010106,110101,1101,11,1,Nyenyeri,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
5,Nyarugenge,11010107,110101,1101,11,1,Ubukorikori,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
6,Nyarugenge,11010108,110101,1101,11,1,Ubumwe,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
7,Nyarugenge,11010109,110101,1101,11,1,Ubwiyunge,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
8,Nyarugenge,11010110,110101,1101,11,1,Umucyo,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
9,Nyarugenge,11010111,110101,1101,11,1,Umurabyo,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN

In [2]:
df.shape

(14815, 11)

In [3]:
df.columns

Index(['DISTRICT', 'VILLAGE_ID', 'CELL_ID', 'SECTOR_ID', 'DISTR_ID', 'PROV_ID',
       'NAME', 'CELL', 'SECTOR', 'PROVINCE', 'CPU'],
      dtype='object')

In [4]:
df.rename(columns={'DISTRICT': 'District', 'NAME': 'Village', 'CELL': 'Cell',  'SECTOR': 'Sector', 'PROV_ID': 'Prov_id',  'PROVINCE': 'Province'}, inplace=True)
df.head()

,District,VILLAGE_ID,CELL_ID,SECTOR_ID,DISTR_ID,Prov_id,Village,Cell,Sector,Province,CPU
0,Nyarugenge,11010102,110101,1101,11,1,Gihanga,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
1,Nyarugenge,11010103,110101,1101,11,1,Iterambere,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
2,Nyarugenge,11010104,110101,1101,11,1,Izuba,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
3,Nyarugenge,11010105,110101,1101,11,1,Nyaburanga,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
4,Nyarugenge,11010106,110101,1101,11,1,Nyenyeri,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN

In [5]:
df = df[['Prov_id', 'Province', 'District', 'Sector', 'Cell', 'Village']]
df.head()

,Prov_id,Province,District,Sector,Cell,Village
0,1,Kigali Town/Umujyi wa Kigali,Nyarugenge,Gitega,Akabahizi,Gihanga
1,1,Kigali Town/Umujyi wa Kigali,Nyarugenge,Gitega,Akabahizi,Iterambere
2,1,Kigali Town/Umujyi wa Kigali,Nyarugenge,Gitega,Akabahizi,Izuba
3,1,Kigali Town/Umujyi wa Kigali,Nyarugenge,Gitega,Akabahizi,Nyaburanga
4,1,Kigali Town/Umujyi wa Kigali,Nyarugenge,Gitega,Akabahizi,Nyenyeri

In [6]:
df['Province'].value_counts()

East/Iburasirazuba              3791
West/Iburengerazuba             3617
South/Amajyepfo                 3501
North/Amajyaruguru              2744
Kigali Town/Umujyi wa Kigali    1162
Name: Province, dtype: int64

In [7]:
len(df.District.unique())

30

In [8]:
# Function to rename provinces

def rename_province(row):
    row['Province'] = row['Province'].split('/')[0]
    if row['Province'] == 'Kigali Town':
        row['Province'] = 'Kigali'

    return row

df = df.apply(rename_province, axis="columns")
df.head()

   Prov_id Province    District  Sector       Cell     Village
0        1   Kigali  Nyarugenge  Gitega  Akabahizi     Gihanga
1        1   Kigali  Nyarugenge  Gitega  Akabahizi  Iterambere
2        1   Kigali  Nyarugenge  Gitega  Akabahizi       Izuba
3        1   Kigali  Nyarugenge  Gitega  Akabahizi  Nyaburanga
4        1   Kigali  Nyarugenge  Gitega  Akabahizi    Nyenyeri

In [9]:
# Function to rename mageregere to mageragere

def rename_mageregere(row):
    if row['Sector'] == 'Mageregere':
        row['Sector'] = 'Mageragere'
    return row

df = df.apply(rename_mageregere, axis="columns")
df.head()

   Prov_id Province    District  Sector       Cell     Village
0        1   Kigali  Nyarugenge  Gitega  Akabahizi     Gihanga
1        1   Kigali  Nyarugenge  Gitega  Akabahizi  Iterambere
2        1   Kigali  Nyarugenge  Gitega  Akabahizi       Izuba
3        1   Kigali  Nyarugenge  Gitega  Akabahizi  Nyaburanga
4        1   Kigali  Nyarugenge  Gitega  Akabahizi    Nyenyeri

In [10]:
# Function to rename rudashaya to ruhashya

def rename_rudashya(row):
    if row['Sector'] == 'Rudashya':
        row['Sector'] = 'Ruhashya'
    return row

df = df.apply(rename_rudashya, axis="columns")
df.head()

   Prov_id Province    District  Sector       Cell     Village
0        1   Kigali  Nyarugenge  Gitega  Akabahizi     Gihanga
1        1   Kigali  Nyarugenge  Gitega  Akabahizi  Iterambere
2        1   Kigali  Nyarugenge  Gitega  Akabahizi       Izuba
3        1   Kigali  Nyarugenge  Gitega  Akabahizi  Nyaburanga
4        1   Kigali  Nyarugenge  Gitega  Akabahizi    Nyenyeri

In [11]:
# Capitalize evertything everything in the db

def capitalize_all_data(row):
    cols = ['Province', 'District', 'Sector', 'Cell', 'Village']
    for col in cols:
        row[col] = row[col].capitalize()
    return row

df = df.apply(capitalize_all_data, axis="columns")
df.head()

   Prov_id Province    District  Sector       Cell     Village
0        1   Kigali  Nyarugenge  Gitega  Akabahizi     Gihanga
1        1   Kigali  Nyarugenge  Gitega  Akabahizi  Iterambere
2        1   Kigali  Nyarugenge  Gitega  Akabahizi       Izuba
3        1   Kigali  Nyarugenge  Gitega  Akabahizi  Nyaburanga
4        1   Kigali  Nyarugenge  Gitega  Akabahizi    Nyenyeri

In [12]:
# Remove duplication

print(df.shape)
df = df.drop_duplicates()
df.shape

(14815, 6)

(14808, 6)

In [13]:
# save the DATAFRAME

df.to_csv('rwanda_dataset.csv', index = False, header = True)

# Start working on package logic

In [14]:
import pandas as pd

df = pd.read_csv('rwanda_dataset.csv')
df.head()

   Prov_id Province    District  Sector       Cell     Village
0        1   Kigali  Nyarugenge  Gitega  Akabahizi     Gihanga
1        1   Kigali  Nyarugenge  Gitega  Akabahizi  Iterambere
2        1   Kigali  Nyarugenge  Gitega  Akabahizi       Izuba
3        1   Kigali  Nyarugenge  Gitega  Akabahizi  Nyaburanga
4        1   Kigali  Nyarugenge  Gitega  Akabahizi    Nyenyeri

In [15]:
print(df.columns)
print(df.shape)

Index(['Prov_id', 'Province', 'District', 'Sector', 'Cell', 'Village'], dtype='object')
(14808, 6)

In [16]:
import timeit

In [17]:
# Format the input
def format_input(name: str) -> str:
    return name.strip().capitalize()

In [18]:
# Return ndaary into list

def convert_ndarray(array):
    return [i for i in array]

In [19]:
# Function to get all provinces

def get_provinces() -> list:
    return convert_ndarray(df['Province'].unique())

print(get_provinces())
timeit.timeit(get_provinces, number=10)

['Kigali', 'South', 'West', 'North', 'East']

0.018733599999997352

In [20]:
# provinces_and_district = df[['Province', 'District']]
# provinces_and_district.groupby(['Province']).get_group('Kigali')['District'].unique()

df[df['Province'] == 'Kigali']['District'].unique()

array(['Nyarugenge', 'Gasabo', 'Kicukiro'], dtype=object)

In [21]:
# Function to get all district of the province

def get_districts(province = '') -> list:
    if province:
        #provinces_and_districts_df = df[['Province', 'District']]
        #province_group = provinces_and_districts_df.groupby(['Province'])
        #districts = province_group.get_group(format_input(province))['District'].unique()
        #return [district for district in districts]
        return [district for district in df[df['Province'] == format_input(province)]['District'].unique()]
    if not province:
        return [district for district in df['District'].unique()]
    
print(get_districts('KigalI'))
timeit.timeit(get_districts, number=10)

['Nyarugenge', 'Gasabo', 'Kicukiro']

0.016505999999999688

In [146]:
# Function to get sectors

def get_sectors(province = '', district = ''):
    try:
        if province and district and get_districts(province):
            sectors = df[df['District'] == format_input(district)]['Sector'].unique()
            return convert_ndarray(sectors)
        if not province and not district:
            #sectors = [sector for district in get_districts() for sector in df[df['District'] == district]['Sector'].unique() ]
            arr = []
            sectors = [x for x in df.groupby(['Province', 'District', 'Sector'], group_keys=False, as_index=False).apply(lambda x: x['Sector'].unique())]
            return sectors
    except:
        return None

sectors = get_sectors('kigali', 'nyarugenGe')
print(sectors)
print(get_sectors())
print('All sectors====', len(get_sectors()))
# timeit.timeit(get_sectors, number=10)

['Gitega', 'Kanyinya', 'Kigali', 'Kimisagara', 'Mageragere', 'Muhima', 'Nyakabanda', 'Nyamirambo', 'Nyarugenge', 'Rwezamenyo']
[array(['Gashora'], dtype=object), array(['Juru'], dtype=object), array(['Kamabuye'], dtype=object), array(['Mareba'], dtype=object), array(['Mayange'], dtype=object), array(['Musenyi'], dtype=object), array(['Mwogo'], dtype=object), array(['Ngeruka'], dtype=object), array(['Ntarama'], dtype=object), array(['Nyamata'], dtype=object), array(['Nyarugenge'], dtype=object), array(['Rilima'], dtype=object), array(['Ruhuha'], dtype=object), array(['Rweru'], dtype=object), array(['Shyara'], dtype=object), array(['Gasange'], dtype=object), array(['Gatsibo'], dtype=object), array(['Gitoki'], dtype=object), array(['Kabarore'], dtype=object), array(['Kageyo'], dtype=object), array(['Kiramuruzi'], dtype=object), array(['Kiziguro'], dtype=object), array(['Muhura'], dtype=object), array(['Murambi'], dtype=object), array(['Ngarama'], dtype=object), array(['Nyagihanga'], dtype=object), array(['Remera'], dtype=object), array(['Rugarama'], dtype=object), array(['Rwimbogo'], dtype=object), array(['Gahini'], dtype=object), array(['Kabare'], dtype=object), array(['Kabarondo'], dtype=object), array(['Mukarange'], dtype=object), array(['Murama'], dtype=object), array(['Murundi'], dtype=object), array(['Mwiri'], dtype=object), array(['Ndego'], dtype=object), array(['Nyamirama'], dtype=object), array(['Rukara'], dtype=object), array(['Ruramira'], dtype=object), array(['Rwinkwavu'], dtype=object), array(['Gahara'], dtype=object), array(['Gatore'], dtype=object), array(['Kigarama'], dtype=object), array(['Kigina'], dtype=object), array(['Kirehe'], dtype=object), array(['Mahama'], dtype=object), array(['Mpanga'], dtype=object), array(['Musaza'], dtype=object), array(['Mushikiri'], dtype=object), array(['Nasho'], dtype=object), array(['Nyamugari'], dtype=object), array(['Nyarubuye'], dtype=object), array(['Gashanda'], dtype=object), array(['Jarama'], dtype=object), array(['Karembo'], dtype=object), array(['Kazo'], dtype=object), array(['Kibungo'], dtype=object), array(['Mugesera'], dtype=object), array(['Murama'], dtype=object), array(['Mutenderi'], dtype=object), array(['Remera'], dtype=object), array(['Rukira'], dtype=object), array(['Rukumberi'], dtype=object), array(['Rurenge'], dtype=object), array(['Sake'], dtype=object), array(['Zaza'], dtype=object), array(['Gatunda'], dtype=object), array(['Karama'], dtype=object), array(['Karangazi'], dtype=object), array(['Katabagemu'], dtype=object), array(['Kiyombe'], dtype=object), array(['Matimba'], dtype=object), array(['Mimuri'], dtype=object), array(['Mukama'], dtype=object), array(['Musheri'], dtype=object), array(['Nyagatare'], dtype=object), array(['Rukomo'], dtype=object), array(['Rwempasha'], dtype=object), array(['Rwimiyaga'], dtype=object), array(['Tabagwe'], dtype=object), array(['Fumbwe'], dtype=object), array(['Gahengeri'], dtype=object), array(['Gishali'], dtype=object), array(['Karenge'], dtype=object), array(['Kigabiro'], dtype=object), array(['Muhazi'], dtype=object), array(['Munyaga'], dtype=object), array(['Munyiginya'], dtype=object), array(['Musha'], dtype=object), array(['Muyumbu'], dtype=object), array(['Mwulire'], dtype=object), array(['Nyakaliro'], dtype=object), array(['Nzige'], dtype=object), array(['Rubona'], dtype=object), array(['Bumbogo'], dtype=object), array(['Gatsata'], dtype=object), array(['Gikomero'], dtype=object), array(['Gisozi'], dtype=object), array(['Jabana'], dtype=object), array(['Jali'], dtype=object), array(['Kacyiru'], dtype=object), array(['Kimihurura'], dtype=object), array(['Kimironko'], dtype=object), array(['Kinyinya'], dtype=object), array(['Ndera'], dtype=object), array(['Nduba'], dtype=object), array(['Remera'], dtype=object), array(['Rusororo'], dtype=object), array(['Rutunga'], dtype=object), array(['Gahanga'], dtype=object), array(['Gatenga'], dtype=object), array(['Gikondo'], dtype=object), array(['Kagarama'], dtype=object), array(['Kanombe'], dtype=object), array(['Kicukiro'], dtype=object), array(['Kigarama'], dtype=object), array(['Masaka'], dtype=object), array(['Niboye'], dtype=object), array(['Nyarugunga'], dtype=object), array(['Gitega'], dtype=object), array(['Kanyinya'], dtype=object), array(['Kigali'], dtype=object), array(['Kimisagara'], dtype=object), array(['Mageragere'], dtype=object), array(['Muhima'], dtype=object), array(['Nyakabanda'], dtype=object), array(['Nyamirambo'], dtype=object), array(['Nyarugenge'], dtype=object), array(['Rwezamenyo'], dtype=object), array(['Bungwe'], dtype=object), array(['Butaro'], dtype=object), array(['Cyanika'], dtype=object), array(['Cyeru'], dtype=object), array(['Gahunga'], dtype=object), array(['Gatebe'], dtype=object), array(['Gitovu'], dtype=object), array(['Kagogo'], dtype=object), array(['Kinoni'], dtype=object), array(['Kinyababa'], dtype=object), array(['Kivuye'], dtype=object), array(['Nemba'], dtype=object), array(['Rugarama'], dtype=object), array(['Rugengabari'], dtype=object), array(['Ruhunde'], dtype=object), array(['Rusarabuye'], dtype=object), array(['Rwerere'], dtype=object), array(['Busengo'], dtype=object), array(['Coko'], dtype=object), array(['Cyabingo'], dtype=object), array(['Gakenke'], dtype=object), array(['Gashenyi'], dtype=object), array(['Janja'], dtype=object), array(['Kamubuga'], dtype=object), array(['Karambo'], dtype=object), array(['Kivuruga'], dtype=object), array(['Mataba'], dtype=object), array(['Minazi'], dtype=object), array(['Mugunga'], dtype=object), array(['Muhondo'], dtype=object), array(['Muyongwe'], dtype=object), array(['Muzo'], dtype=object), array(['Nemba'], dtype=object), array(['Ruli'], dtype=object), array(['Rusasa'], dtype=object), array(['Rushashi'], dtype=object), array(['Bukure'], dtype=object), array(['Bwisige'], dtype=object), array(['Byumba'], dtype=object), array(['Cyumba'], dtype=object), array(['Giti'], dtype=object), array(['Kageyo'], dtype=object), array(['Kaniga'], dtype=object), array(['Manyagiro'], dtype=object), array(['Miyove'], dtype=object), array(['Mukarange'], dtype=object), array(['Muko'], dtype=object), array(['Mutete'], dtype=object), array(['Nyamiyaga'], dtype=object), array(['Nyankenke'], dtype=object), array(['Rubaya'], dtype=object), array(['Rukomo'], dtype=object), array(['Rushaki'], dtype=object), array(['Rutare'], dtype=object), array(['Ruvune'], dtype=object), array(['Rwamiko'], dtype=object), array(['Shangasha'], dtype=object), array(['Busogo'], dtype=object), array(['Cyuve'], dtype=object), array(['Gacaca'], dtype=object), array(['Gashaki'], dtype=object), array(['Gataraga'], dtype=object), array(['Kimonyi'], dtype=object), array(['Kinigi'], dtype=object), array(['Muhoza'], dtype=object), array(['Muko'], dtype=object), array(['Musanze'], dtype=object), array(['Nkotsi'], dtype=object), array(['Nyange'], dtype=object), array(['Remera'], dtype=object), array(['Rwaza'], dtype=object), array(['Shingiro'], dtype=object), array(['Base'], dtype=object), array(['Burega'], dtype=object), array(['Bushoki'], dtype=object), array(['Buyoga'], dtype=object), array(['Cyinzuzi'], dtype=object), array(['Cyungo'], dtype=object), array(['Kinihira'], dtype=object), array(['Kisaro'], dtype=object), array(['Masoro'], dtype=object), array(['Mbogo'], dtype=object), array(['Murambi'], dtype=object), array(['Ngoma'], dtype=object), array(['Ntarabana'], dtype=object), array(['Rukozo'], dtype=object), array(['Rusiga'], dtype=object), array(['Shyorongi'], dtype=object), array(['Tumba'], dtype=object), array(['Gikonko'], dtype=object), array(['Gishubi'], dtype=object), array(['Kansi'], dtype=object), array(['Kibirizi'], dtype=object), array(['Kigembe'], dtype=object), array(['Mamba'], dtype=object), array(['Muganza'], dtype=object), array(['Mugombwa'], dtype=object), array(['Mukindo'], dtype=object), array(['Musha'], dtype=object), array(['Ndora'], dtype=object), array(['Nyanza'], dtype=object), array(['Save'], dtype=object), array(['Gishamvu'], dtype=object), array(['Huye'], dtype=object), array(['Karama'], dtype=object), array(['Kigoma'], dtype=object), array(['Kinazi'], dtype=object), array(['Maraba'], dtype=object), array(['Mbazi'], dtype=object), array(['Mukura'], dtype=object), array(['Ngoma'], dtype=object), array(['Ruhashya'], dtype=object), array(['Rusatira'], dtype=object), array(['Rwaniro'], dtype=object), array(['Simbi'], dtype=object), array(['Tumba'], dtype=object), array(['Gacurabwenge'], dtype=object), array(['Karama'], dtype=object), array(['Kayenzi'], dtype=object), array(['Kayumbu'], dtype=object), array(['Mugina'], dtype=object), array(['Musambira'], dtype=object), array(['Ngamba'], dtype=object), array(['Nyamiyaga'], dtype=object), array(['Nyarubaka'], dtype=object), array(['Rugarika'], dtype=object), array(['Rukoma'], dtype=object), array(['Runda'], dtype=object), array(['Cyeza'], dtype=object), array(['Kabacuzi'], dtype=object), array(['Kibangu'], dtype=object), array(['Kiyumba'], dtype=object), array(['Muhanga'], dtype=object), array(['Mushishiro'], dtype=object), array(['Nyabinoni'], dtype=object), array(['Nyamabuye'], dtype=object), array(['Nyarusange'], dtype=object), array(['Rongi'], dtype=object), array(['Rugendabari'], dtype=object), array(['Shyogwe'], dtype=object), array(['Buruhukiro'], dtype=object), array(['Cyanika'], dtype=object), array(['Gasaka'], dtype=object), array(['Gatare'], dtype=object), array(['Kaduha'], dtype=object), array(['Kamegeri'], dtype=object), array(['Kibirizi'], dtype=object), array(['Kibumbwe'], dtype=object), array(['Kitabi'], dtype=object), array(['Mbazi'], dtype=object), array(['Mugano'], dtype=object), array(['Musange'], dtype=object), array(['Musebeya'], dtype=object), array(['Mushubi'], dtype=object), array(['Nkomane'], dtype=object), array(['Tare'], dtype=object), array(['Uwinkingi'], dtype=object), array(['Busasamana'], dtype=object), array(['Busoro'], dtype=object), array(['Cyabakamyi'], dtype=object), array(['Kibilizi'], dtype=object), array(['Kigoma'], dtype=object), array(['Mukingo'], dtype=object), array(['Muyira'], dtype=object), array(['Ntyazo'], dtype=object), array(['Nyagisozi'], dtype=object), array(['Rwabicuma'], dtype=object), array(['Busanze'], dtype=object), array(['Cyahinda'], dtype=object), array(['Kibeho'], dtype=object), array(['Kivu'], dtype=object), array(['Mata'], dtype=object), array(['Muganza'], dtype=object), array(['Munini'], dtype=object), array(['Ngera'], dtype=object), array(['Ngoma'], dtype=object), array(['Nyabimata'], dtype=object), array(['Nyagisozi'], dtype=object), array(['Ruheru'], dtype=object), array(['Ruramba'], dtype=object), array(['Rusenge'], dtype=object), array(['Bweramana'], dtype=object), array(['Byimana'], dtype=object), array(['Kabagali'], dtype=object), array(['Kinazi'], dtype=object), array(['Kinihira'], dtype=object), array(['Mbuye'], dtype=object), array(['Mwendo'], dtype=object), array(['Ntongwe'], dtype=object), array(['Ruhango'], dtype=object), array(['Bwishyura'], dtype=object), array(['Gashari'], dtype=object), array(['Gishyita'], dtype=object), array(['Gitesi'], dtype=object), array(['Mubuga'], dtype=object), array(['Murambi'], dtype=object), array(['Murundi'], dtype=object), array(['Mutuntu'], dtype=object), array(['Rubengera'], dtype=object), array(['Rugabano'], dtype=object), array(['Ruganda'], dtype=object), array(['Rwankuba'], dtype=object), array(['Twumba'], dtype=object), array(['Bwira'], dtype=object), array(['Gatumba'], dtype=object), array(['Hindiro'], dtype=object), array(['Kabaya'], dtype=object), array(['Kageyo'], dtype=object), array(['Kavumu'], dtype=object), array(['Matyazo'], dtype=object), array(['Muhanda'], dtype=object), array(['Muhororo'], dtype=object), array(['Ndaro'], dtype=object), array(['Ngororero'], dtype=object), array(['Nyange'], dtype=object), array(['Sovu'], dtype=object), array(['Bigogwe'], dtype=object), array(['Jenda'], dtype=object), array(['Jomba'], dtype=object), array(['Kabatwa'], dtype=object), array(['Karago'], dtype=object), array(['Kintobo'], dtype=object), array(['Mukamira'], dtype=object), array(['Muringa'], dtype=object), array(['Rambura'], dtype=object), array(['Rugera'], dtype=object), array(['Rurembo'], dtype=object), array(['Shyira'], dtype=object), array(['Bushekeri'], dtype=object), array(['Bushenge'], dtype=object), array(['Cyato'], dtype=object), array(['Gihombo'], dtype=object), array(['Kagano'], dtype=object), array(['Kanjongo'], dtype=object), array(['Karambi'], dtype=object), array(['Karengera'], dtype=object), array(['Kirimbi'], dtype=object), array(['Macuba'], dtype=object), array(['Mahembe'], dtype=object), array(['Nyabitekeri'], dtype=object), array(['Rangiro'], dtype=object), array(['Ruharambuga'], dtype=object), array(['Shangi'], dtype=object), array(['Bugeshi'], dtype=object), array(['Busasamana'], dtype=object), array(['Cyanzarwe'], dtype=object), array(['Gisenyi'], dtype=object), array(['Kanama'], dtype=object), array(['Kanzenze'], dtype=object), array(['Mudende'], dtype=object), array(['Nyakiriba'], dtype=object), array(['Nyamyumba'], dtype=object), array(['Nyundo'], dtype=object), array(['Rubavu'], dtype=object), array(['Rugerero'], dtype=object), array(['Bugarama'], dtype=object), array(['Butare'], dtype=object), array(['Bweyeye'], dtype=object), array(['Gashonga'], dtype=object), array(['Giheke'], dtype=object), array(['Gihundwe'], dtype=object), array(['Gikundamvura'], dtype=object), array(['Gitambi'], dtype=object), array(['Kamembe'], dtype=object), array(['Muganza'], dtype=object), array(['Mururu'], dtype=object), array(['Nkanka'], dtype=object), array(['Nkombo'], dtype=object), array(['Nkungu'], dtype=object), array(['Nyakabuye'], dtype=object), array(['Nyakarenzo'], dtype=object), array(['Nzahaha'], dtype=object), array(['Rwimbogo'], dtype=object), array(['Boneza'], dtype=object), array(['Gihango'], dtype=object), array(['Kigeyo'], dtype=object), array(['Kivumu'], dtype=object), array(['Manihira'], dtype=object), array(['Mukura'], dtype=object), array(['Murunda'], dtype=object), array(['Musasa'], dtype=object), array(['Mushonyi'], dtype=object), array(['Mushubati'], dtype=object), array(['Nyabirasi'], dtype=object), array(['Ruhango'], dtype=object), array(['Rusebeya'], dtype=object)]
All sectors==== 416

In [99]:
# Function to get sectors
 
def get_cells(province = '', district = '', sector = ''):
    try:
        if province and district and sector and get_sectors(province, district):
            filter_province = df[df['Province'] == format_input(province)]
            filter_district = filter_province[filter_province['District'] == format_input(district)]
            sectors = filter_district[filter_district['Sector'] == format_input(sector)]
            cells = [cell for cell in sectors['Cell'].unique()]
            return cells
        if not province and not district and not sector:
            # cells = [cell for prov in get_provinces() for dist in get_districts(prov) for sector in get_sectors(prov, dist) for cell in df[df['Sector'] == sector]['Cell'].unique()  ]
            cells = df.groupby(['Province', 'District', 'Sector'])['Cell'].unique()
            return cells
    except:
        return None

cells = get_cells()
# cells = get_cells(province='kigali', district='Nyarugenge', sector='nyarugenge')
print(cells)
print(len(cells))
# timeit.timeit(get_cells, number=10)

Province  District  Sector
East      Bugesera  Gashora            [Biryogo, Kabuye, Kagomasi, Mwendo, Ramiro]
                    Juru               [Juru, Kabukuba, Mugorore, Musovu, Rwinume]
                    Kamabuye        [Biharagu, Burenge, Kampeka, Nyakayaga, Tunda]
                    Mareba        [Bushenyi, Gakomeye, Nyamigina, Rango, Rugarama]
                    Mayange            [Kagenge, Kibenga, Gakamba, Kibirizi, Mbyo]
                                                       ...
West      Rutsiro   Mushonyi                    [Biruyi, Kaguriro, Magaba, Rurara]
                    Mushubati          [Bumba, Cyarusera, Gitwa, Mageragere, Sure]
                    Nyabirasi        [Busuku, Cyivugiza, Mubuga, Ngoma, Terimbere]
                    Ruhango      [Rundoyi, Gatare, Gihira, Kavumu, Nyakarera, R...
                    Rusebeya                      [Kabona, Mberi, Remera, Ruronde]
Name: Cell, Length: 416, dtype: object
416

In [61]:
# Function to get sectors
 
def get_villages(province = '', district = '', sector = '', cell = ''):
    try:
        if province and district and sector and cell and get_sectors(province, district) and get_cells(province, district, sector):
            filter_province = df[df['Province'] == format_input(province)]
            filter_district = filter_province[filter_province['District'] == format_input(district)]
            sectors = filter_district[filter_district['Sector'] == format_input(sector)]
            cell = sectors[sectors['Cell'] == format_input(cell)]
            villages = [village for village in cell['Village']]
            return villages
        if not province and not district and not sector and not cell:
            villages = ([village for prov in get_provinces()
                         for dist in get_districts(prov)
                         for sect in get_sectors(prov, dist)
                         for cel in get_cells(prov, dist, sect)
                         for village in df[df['Cell'] == cel]['Village'].unique()])
            return villages
    except:
        return None

# villages = get_villages(province='kigali', district='Nyarugenge', sector='nyarugenge', cell='Rwampara')
villages = get_villages()
# print(villages)
print(len(villages))
# timeit.timeit(get_villages, number=10)

41244

In [85]:
def get_sector_in_district(dstr):
    provinces_and_district = df[['District', 'Sector']]
    print('Lenght==', len(provinces_and_district.groupby(['District']).get_group(dstr)['Sector'].unique()))
    print(provinces_and_district.groupby(['District']).get_group(dstr)['Sector'].unique())
    pass

get_sector_in_district(format_input('nyarugenge'))

Lenght== 10
['Gitega' 'Kanyinya' 'Kigali' 'Kimisagara' 'Mageragere' 'Muhima'
 'Nyakabanda' 'Nyamirambo' 'Nyarugenge' 'Rwezamenyo']

In [26]:
provinces_and_district = df[['District', 'Sector', 'Cell']]
provinces_and_district.groupby(['District', 'Sector']).get_group(('Nyarugenge', 'Nyarugenge'))

       District      Sector      Cell
305  Nyarugenge  Nyarugenge   Agatare
306  Nyarugenge  Nyarugenge   Agatare
307  Nyarugenge  Nyarugenge   Agatare
308  Nyarugenge  Nyarugenge   Agatare
309  Nyarugenge  Nyarugenge   Agatare
310  Nyarugenge  Nyarugenge   Agatare
311  Nyarugenge  Nyarugenge   Agatare
312  Nyarugenge  Nyarugenge   Biryogo
313  Nyarugenge  Nyarugenge   Biryogo
314  Nyarugenge  Nyarugenge   Biryogo
315  Nyarugenge  Nyarugenge   Biryogo
316  Nyarugenge  Nyarugenge   Biryogo
317  Nyarugenge  Nyarugenge    Kiyovu
318  Nyarugenge  Nyarugenge    Kiyovu
319  Nyarugenge  Nyarugenge    Kiyovu
320  Nyarugenge  Nyarugenge    Kiyovu
321  Nyarugenge  Nyarugenge    Kiyovu
322  Nyarugenge  Nyarugenge    Kiyovu
323  Nyarugenge  Nyarugenge    Kiyovu
324  Nyarugenge  Nyarugenge    Kiyovu
325  Nyarugenge  Nyarugenge    Kiyovu
326  Nyarugenge  Nyarugenge    Kiyovu
327  Nyarugenge  Nyarugenge    Kiyovu
328  Nyarugenge  Nyarugenge    Kiyovu
329  Nyarugenge  Nyarugenge  Rwampara
330  Nyarugenge  Nyarugenge  Rwampara
331  Nyarugenge  Nyarugenge  Rwampara
332  Nyarugenge  Nyarugenge  Rwampara
333  Nyarugenge  Nyarugenge  Rwampara
334  Nyarugenge  Nyarugenge  Rwampara

In [63]:
print(df.shape)
new_df = df.drop_duplicates(subset=['District', 'Sector', 'Cell', 'Village'])
new_df.shape

(14808, 6)

(14808, 6)

In [28]:
provinces_and_district = new_df[['District', 'Sector', 'Cell']]
#provinces_and_district.groupby(['District', 'Sector']).get_group(('Nyarugenge', 'Nyarugenge'))
len(provinces_and_district['Cell'])

14612

In [90]:
provinces_and_district = df[['District', 'Sector', 'Cell']]
provinces_and_district.groupby(['District', 'Sector']).head()

         District  Sector       Cell
0      Nyarugenge  Gitega  Akabahizi
1      Nyarugenge  Gitega  Akabahizi
2      Nyarugenge  Gitega  Akabahizi
3      Nyarugenge  Gitega  Akabahizi
4      Nyarugenge  Gitega  Akabahizi
...           ...     ...        ...
14788    Bugesera  Shyara   Kabagugu
14789    Bugesera  Shyara   Kabagugu
14790    Bugesera  Shyara   Kabagugu
14791    Bugesera  Shyara   Kabagugu
14792    Bugesera  Shyara   Kamabuye

[2080 rows x 3 columns]