# Preparing the dataset of rwanda to be used in my package

In [153]:
import pandas as pd

df = pd.read_csv('Village.csv', sep=';')
df.head(10)

,DISTRICT,VILLAGE_ID,CELL_ID,SECTOR_ID,DISTR_ID,PROV_ID,NAME,CELL,SECTOR,PROVINCE,CPU
0,Nyarugenge,11010102,110101,1101,11,1,Gihanga,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
1,Nyarugenge,11010103,110101,1101,11,1,Iterambere,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
2,Nyarugenge,11010104,110101,1101,11,1,Izuba,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
3,Nyarugenge,11010105,110101,1101,11,1,Nyaburanga,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
4,Nyarugenge,11010106,110101,1101,11,1,Nyenyeri,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
5,Nyarugenge,11010107,110101,1101,11,1,Ubukorikori,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
6,Nyarugenge,11010108,110101,1101,11,1,Ubumwe,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
7,Nyarugenge,11010109,110101,1101,11,1,Ubwiyunge,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
8,Nyarugenge,11010110,110101,1101,11,1,Umucyo,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
9,Nyarugenge,11010111,110101,1101,11,1,Umurabyo,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN

In [154]:
df.shape

(14815, 11)

In [155]:
df.columns

Index(['DISTRICT', 'VILLAGE_ID', 'CELL_ID', 'SECTOR_ID', 'DISTR_ID', 'PROV_ID',
       'NAME', 'CELL', 'SECTOR', 'PROVINCE', 'CPU'],
      dtype='object')

In [156]:
df.rename(columns={'DISTRICT': 'District', 'NAME': 'Village', 'CELL': 'Cell',  'SECTOR': 'Sector', 'PROV_ID': 'Prov_id',  'PROVINCE': 'Province'}, inplace=True)
df.head()

,District,VILLAGE_ID,CELL_ID,SECTOR_ID,DISTR_ID,Prov_id,Village,Cell,Sector,Province,CPU
0,Nyarugenge,11010102,110101,1101,11,1,Gihanga,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
1,Nyarugenge,11010103,110101,1101,11,1,Iterambere,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
2,Nyarugenge,11010104,110101,1101,11,1,Izuba,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
3,Nyarugenge,11010105,110101,1101,11,1,Nyaburanga,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN
4,Nyarugenge,11010106,110101,1101,11,1,Nyenyeri,Akabahizi,Gitega,Kigali Town/Umujyi wa Kigali,NaN

In [157]:
df = df[['Prov_id', 'Province', 'District', 'Sector', 'Cell', 'Village']]
df.head()

,Prov_id,Province,District,Sector,Cell,Village
0,1,Kigali Town/Umujyi wa Kigali,Nyarugenge,Gitega,Akabahizi,Gihanga
1,1,Kigali Town/Umujyi wa Kigali,Nyarugenge,Gitega,Akabahizi,Iterambere
2,1,Kigali Town/Umujyi wa Kigali,Nyarugenge,Gitega,Akabahizi,Izuba
3,1,Kigali Town/Umujyi wa Kigali,Nyarugenge,Gitega,Akabahizi,Nyaburanga
4,1,Kigali Town/Umujyi wa Kigali,Nyarugenge,Gitega,Akabahizi,Nyenyeri

In [158]:
df['Province'].value_counts()

East/Iburasirazuba              3791
West/Iburengerazuba             3617
South/Amajyepfo                 3501
North/Amajyaruguru              2744
Kigali Town/Umujyi wa Kigali    1162
Name: Province, dtype: int64

In [159]:
len(df.District.unique())

30

In [160]:
# Function to rename provinces

def rename_province(row):
    row['Province'] = row['Province'].split('/')[0]
    if row['Province'] == 'Kigali Town':
        row['Province'] = 'Kigali'

    return row

df = df.apply(rename_province, axis="columns")
df.head()

   Prov_id Province    District  Sector       Cell     Village
0        1   Kigali  Nyarugenge  Gitega  Akabahizi     Gihanga
1        1   Kigali  Nyarugenge  Gitega  Akabahizi  Iterambere
2        1   Kigali  Nyarugenge  Gitega  Akabahizi       Izuba
3        1   Kigali  Nyarugenge  Gitega  Akabahizi  Nyaburanga
4        1   Kigali  Nyarugenge  Gitega  Akabahizi    Nyenyeri

In [161]:
# Function to rename mageregere to mageragere

def rename_mageregere(row):
    if row['Sector'] == 'Mageregere':
        row['Sector'] = 'Mageragere'
    return row

df = df.apply(rename_mageregere, axis="columns")
df.head()

   Prov_id Province    District  Sector       Cell     Village
0        1   Kigali  Nyarugenge  Gitega  Akabahizi     Gihanga
1        1   Kigali  Nyarugenge  Gitega  Akabahizi  Iterambere
2        1   Kigali  Nyarugenge  Gitega  Akabahizi       Izuba
3        1   Kigali  Nyarugenge  Gitega  Akabahizi  Nyaburanga
4        1   Kigali  Nyarugenge  Gitega  Akabahizi    Nyenyeri

In [162]:
# Function to rename rudashaya to ruhashya

def rename_rudashya(row):
    if row['Sector'] == 'Rudashya':
        row['Sector'] = 'Ruhashya'
    return row

df = df.apply(rename_rudashya, axis="columns")
df.head()

   Prov_id Province    District  Sector       Cell     Village
0        1   Kigali  Nyarugenge  Gitega  Akabahizi     Gihanga
1        1   Kigali  Nyarugenge  Gitega  Akabahizi  Iterambere
2        1   Kigali  Nyarugenge  Gitega  Akabahizi       Izuba
3        1   Kigali  Nyarugenge  Gitega  Akabahizi  Nyaburanga
4        1   Kigali  Nyarugenge  Gitega  Akabahizi    Nyenyeri

In [163]:
# Capitalize evertything everything in the db

def capitalize_all_data(row):
    cols = ['Province', 'District', 'Sector', 'Cell', 'Village']
    for col in cols:
        row[col] = row[col].capitalize()
    return row

df = df.apply(capitalize_all_data, axis="columns")
df.head()

   Prov_id Province    District  Sector       Cell     Village
0        1   Kigali  Nyarugenge  Gitega  Akabahizi     Gihanga
1        1   Kigali  Nyarugenge  Gitega  Akabahizi  Iterambere
2        1   Kigali  Nyarugenge  Gitega  Akabahizi       Izuba
3        1   Kigali  Nyarugenge  Gitega  Akabahizi  Nyaburanga
4        1   Kigali  Nyarugenge  Gitega  Akabahizi    Nyenyeri

In [164]:
# save the DATAFRAME

df.to_csv('rwanda_dataset.csv', index = False, header = True)

# Start working on package logic

In [165]:
import pandas as pd

df = pd.read_csv('rwanda_dataset.csv')
df.head()

   Prov_id Province    District  Sector       Cell     Village
0        1   Kigali  Nyarugenge  Gitega  Akabahizi     Gihanga
1        1   Kigali  Nyarugenge  Gitega  Akabahizi  Iterambere
2        1   Kigali  Nyarugenge  Gitega  Akabahizi       Izuba
3        1   Kigali  Nyarugenge  Gitega  Akabahizi  Nyaburanga
4        1   Kigali  Nyarugenge  Gitega  Akabahizi    Nyenyeri

In [166]:
df.columns

Index(['Prov_id', 'Province', 'District', 'Sector', 'Cell', 'Village'], dtype='object')

In [167]:
# Format the input
def format_input(name: str) -> str:
    return name.strip().capitalize()

In [168]:
# Return ndaary into list

def convert_ndarray(array):
    return [i for i in array]

In [169]:
# Function to get all provinces

def get_provinces() -> list:
    return convert_ndarray(df['Province'].unique())

print(get_provinces())
timeit.timeit(get_provinces, number=10)

['Kigali', 'South', 'West', 'North', 'East']

0.012446599999748287

In [170]:
import timeit
# provinces_and_district = df[['Province', 'District']]
# provinces_and_district.groupby(['Province']).get_group('Kigali')['District'].unique()

df[df['Province'] == 'Kigali']['District'].unique()

array(['Nyarugenge', 'Gasabo', 'Kicukiro'], dtype=object)

In [198]:
# Function to get all district of the province

def get_districts(province = '') -> list:
    if province:
        #provinces_and_districts_df = df[['Province', 'District']]
        #province_group = provinces_and_districts_df.groupby(['Province'])
        #districts = province_group.get_group(format_input(province))['District'].unique()
        #return [district for district in districts]
        return [district for district in df[df['Province'] == format_input(province)]['District'].unique()]
    if not province:
        return [district for district in df['District'].unique()]
    
print(get_districts('KigalIx'))
timeit.timeit(get_districts, number=10)

[]

0.01256670000111626

In [201]:
# Function to get sectors

def get_sectors(province = '', district = ''):
    try:
        if province and district and len(get_districts(province)):
            sectors = df[df['District'] == format_input(district)]['Sector'].unique()
            return convert_ndarray(sectors)
        if not province and not district:
            sectors = [sector for province in get_provinces() for district in get_districts(province) for sector in df[df['District'] == district]['Sector'].unique() ]
            return sectors
    except:
        return None

sectors = get_sectors('kigalix', 'nyarugenge')
print(sectors)
timeit.timeit(get_sectors, number=10)

None

0.37064490000011574

In [146]:
def get_sector_in_district(dstr):
    provinces_and_district = df[['District', 'Sector']]
    print('Lenght==', len(provinces_and_district.groupby(['District']).get_group(dstr)['Sector'].unique()))
    print(provinces_and_district.groupby(['District']).get_group(dstr)['Sector'].unique())
    pass

get_sector_in_district(format_input('HUYE'))

Lenght== 15
['Gishamvu' 'Huye' 'Karama' 'Kigoma' 'Kinazi' 'Maraba' 'Mbazi' 'Mukura'
 'Ngoma' 'Ruhashya' 'Rudashya' 'Rusatira' 'Rwaniro' 'Simbi' 'Tumba']

In [187]:
df[df['District'] == 'Nyarugenge']['Sector'].unique()

array(['Gitega', 'Kanyinya', 'Kigali', 'Kimisagara', 'Mageragere',
       'Muhima', 'Nyakabanda', 'Nyamirambo', 'Nyarugenge', 'Rwezamenyo'],
      dtype=object)